In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [19]:
df = pd.read_csv('RSM00024688.csv', nrows=400)

In [4]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/climate')

In [8]:
engine.connect()

In [31]:
print(pd.io.sql.get_schema(df, name='ojmjakon_climate_data', con=engine))

CREATE TABLE ojmjakon_climate_data (
	"STATION" TEXT,
	"DATE" TIMESTAMP WITHOUT TIME ZONE,
	"LATITUDE" FLOAT(23),
	"LONGITUDE" FLOAT(23),
	"ELEVATION" SMALLINT,
	"NAME" TEXT,
	"PRCP" SMALLINT,
	"PRCP_ATTRIBUTES" TEXT,
	"SNWD" FLOAT(53),
	"SNWD_ATTRIBUTES" FLOAT(53),
	"TMAX" FLOAT(23),
	"TMAX_ATTRIBUTES" TEXT,
	"TMIN" FLOAT(23),
	"TMIN_ATTRIBUTES" TEXT,
	"TAVG" FLOAT(23),
	"TAVG_ATTRIBUTES" TEXT
)

In [33]:
df

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,PRCP,TMAX,TMIN,TAVG
0,RSM00024688,1943-01-01,63.25,143.149994,740,"OJMJAKON, RS",0,-342.0,-450.0,-382.0
1,RSM00024688,1943-01-02,63.25,143.149994,740,"OJMJAKON, RS",1,-301.0,-415.0,-346.0
2,RSM00024688,1943-01-03,63.25,143.149994,740,"OJMJAKON, RS",0,-270.0,-306.0,-279.0
3,RSM00024688,1943-01-04,63.25,143.149994,740,"OJMJAKON, RS",0,-279.0,-411.0,-353.0
4,RSM00024688,1943-01-05,63.25,143.149994,740,"OJMJAKON, RS",0,-377.0,-455.0,-413.0
...,...,...,...,...,...,...,...,...,...,...
395,RSM00024688,1944-01-31,63.25,143.149994,740,"OJMJAKON, RS",0,NaN,-619.0,-594.0
396,RSM00024688,1944-02-01,63.25,143.149994,740,"OJMJAKON, RS",0,-521.0,-609.0,-562.0
397,RSM00024688,1944-02-02,63.25,143.149994,740,"OJMJAKON, RS",3,-475.0,-560.0,-496.0
398,RSM00024688,1944-02-03,63.25,143.149994,740,"OJMJAKON, RS",4,-442.0,-561.0,-496.0
399,RSM00024688,1944-02-04,63.25,143.149994,740,"OJMJAKON, RS",0,-496.0,-593.0,-541.0

In [29]:
df.DATE = pd.to_datetime(df.DATE)
df.ELEVATION = pd.to_numeric(df.ELEVATION, downcast='integer')
df.LATITUDE = pd.to_numeric(df.LATITUDE, downcast='float')
df.LONGITUDE = pd.to_numeric(df.LONGITUDE, downcast='float')
df.TMAX = pd.to_numeric(df.TMAX, downcast='float')
df.TMIN = pd.to_numeric(df.TMIN, downcast='float')
df.TAVG = pd.to_numeric(df.TAVG, downcast='float')
df.PRCP = pd.to_numeric(df.PRCP, downcast='integer')

In [32]:
df = df.drop(columns=['PRCP_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TMAX_ATTRIBUTES', 'TMIN_ATTRIBUTES', 'TAVG_ATTRIBUTES'])

In [34]:
print(df.head(2))

       STATION       DATE  LATITUDE   LONGITUDE  ELEVATION          NAME  \
0  RSM00024688 1943-01-01     63.25  143.149994        740  OJMJAKON, RS
1  RSM00024688 1943-01-02     63.25  143.149994        740  OJMJAKON, RS

   PRCP   TMAX   TMIN   TAVG
0     0 -342.0 -450.0 -382.0
1     1 -301.0 -415.0 -346.0

In [35]:
print(f"columns: {df.dtypes}")

columns: STATION              object
DATE         datetime64[ns]
LATITUDE            float32
LONGITUDE           float32
ELEVATION             int16
NAME                 object
PRCP                   int8
TMAX                float32
TMIN                float32
TAVG                float32
dtype: object

In [36]:
print(f"rows: {len(df)}")

rows: 400